{% extends "layouts/homepage.html" %}

{% set selectedNav = "Sign in" %}
{% set pageName = "Check your email" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check your email</h1>
            <p class="govuk-body">If your email is valid, we'll have sent you an email with a link to sign in.</p>
            
      
            <p class="govuk-body">If you haven't received the email after 5 minutes, check your junk folder.</p>
            <p class="govuk-body">If it isn't in the junk folder, <a href="https://design.education.gov.uk/design-ops/contact" target="_blank" rel="noopener noreferrer">contact the Design Ops team</a>.</p>

    </div>

{% endblock %}