{% extends "layouts/homepage.html" %}

{% set selectedNav = "Sign in" %}
{% set pageName = "Can't sign in with this email" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Can't sign in with this email</h1>
            <p class="govuk-body">This service only works with education.gov.uk email addresses.</p>
            
      
            <p class="govuk-body"><a href="/" class="govuk-link">Return to the homepage</a>.</p>
          
    </div>

{% endblock %}