{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "true",
    "logoPath": "assets/images",
    "searchAction": "/search/",
    "selectedNav": selectedNav,
    "searchInputName": "q",
    "service": {
      "name": "Track my skills and competency"
    },
    "headerActionLinks": [
    
      {
        "url"  : "/sign-out",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/overview",
        "label" : "Overview"
      }, {
        "url"  : "/skills",
        "label" : "My skills"
      }, {
        "url"  : "/plan",
        "label" : "My plan"
      }, {
        "url"  : "/profile",
        "label" : "My profile"
      }
    ]
  })
}}