{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "true",
    "logoPath": "assets/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "service": {
      "name": "Track my skills and competency"
    },
    "headerActionLinks": [
     {
        "url"  : "/profile",
        "label" : "My profile"
      },
      {
        "url"  : "/sign-out",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/dashboard",
        "label" : "Dashboard"
      }, {
        "url"  : "/framework",
        "label" : "My framework"
      }, {
        "url"  : "/plan",
        "label" : "My plan"
      }
    ]
  })
}}